{% verbatim %}

<div class="container-fluid" ng-if="symbol">
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <table-graph default="pie" source="growthRate" title="Growth Rate" caption="Top Growing stocks"></table-graph>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <article >
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">

                <header role="heading">
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>
                        <span ng-if="symbol.symbol"><strong>{{ symbol.symbol }}</strong> - {{ symbol.company }}</span>
                        <span ng-if="!symbol.symbol"><strong>No symbol selected</strong></span>
                    </h2>

                <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                <!-- widget div-->
                <div role="content">

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->

                    <!-- widget content -->
                    <div class="widget-body no-padding">
                        <div class="panel-group smart-accordion-default" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#summary" aria-expanded="true" class=""> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Summary </a>
                                    </h4>
                                </div>
                                <div id="summary" class="panel-collapse collapse in" aria-expanded="true">
                                    <div class="panel-body">
                                        <h1>TODO</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#profile" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Company Profile </a></h4>
                                </div>
                                <div id="profile" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="col-sm-12">
                                            <h1><span class="semi-bold">{{ symbol.company }}</span>&nbsp;&nbsp;&nbsp; <small>{{ symbol.symbol }}</small></h1>

                                            <ul class="list-unstyled">
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-phone"></i>&nbsp;&nbsp;<span class="txt-color-darken">

                                                        <a href="tel:{{ symbol.profile.phone }}">{{ symbol.profile.phone }}</a>
                                                    </span>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-link"></i>&nbsp;&nbsp;<a target="_blank" href="{{ symbol.profile.website }}">{{ symbol.profile.website }}</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-location-arrow"></i>&nbsp;&nbsp;
                                                        <span class="txt-color-darken">
                                                            <a target="_blank" href="http://maps.google.com/?q={{ symbol.profile.address }}, {{ symbol.profile.city }}, {{ symbol.profile.state }}, {{ symbol.profile.zipcode }}, {{ symbol.profile.country }}">{{ symbol.profile.address }}, {{ symbol.profile.city }}, {{ symbol.profile.state }}, {{ symbol.profile.zipcode }}, {{ symbol.profile.country }}</a>
                                                        </span>
                                                    </p>
                                                </li>
                                            </ul>
                                            <hr>
                                        </div>
                                        <div class="col-sm-6">
                                            {{ symbol.profile.summary }}
                                            <p class="font-md">

                                            </p>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Title</th>
                                                            <th>Age</th>
                                                            <th>Salary</th>
                                                            <th>Exercised</th>
                                                            <th>UnExercised</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="officer in symbol.profile.officers">
                                                            <td>{{ officer.name }}</td>
                                                            <td>{{ officer.title }}</td>
                                                            <td>{{ officer.age }}</td>
                                                            <td>{{ officer.salary }}</td>
                                                            <td>{{ officer.exercised_value }}</td>
                                                            <td>{{ officer.unexercised_value }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#financials" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Financials </a></h4>
                                </div>
                                <div id="financials" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <h1>TODO</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#holders" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Holders </a></h4>
                                </div>
                                <div id="holders" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <h1>TODO</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#news" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> News </a></h4>
                                </div>
                                <div id="news" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h1 style="float: left"><strong>News </strong></h1>
                            <div id="sparks" style="display: block; list-style: none; margin: 10px 0 0; padding: 0; text-align: right">
                                <ul>
                                    <li class="sparks-info"><i class="fa fa-newspaper-o smart-timeline-icon bg-color-greenDark" style="position: inherit !important;"></i>  <strong>News</strong></li>
                                    <li class="sparks-info"><i class="fa fa-users smart-timeline-icon" style="position: inherit !important;"></i>  <strong>Public Relations</strong></li>
                                    <li class="sparks-info"><i class="fa fa-video-camera smart-timeline-icon bg-color-orangeDark" style="position: inherit !important;"></i>  <strong>Video</strong></li>
                                </ul>
                            </div>
                            <div class="well well-sm">
                                <!-- Timeline Content -->
                                <div class="smart-timeline">
                                    <ul class="smart-timeline-list">
                                        <li ng-repeat="news in symbol.news">
                                            <div ng-if="news.tag == 'news'" class="smart-timeline-icon bg-color-greenDark">
                                                <i class="fa fa-newspaper-o"></i>
                                            </div>
                                            <div ng-if="news.tag == 'pr'" class="smart-timeline-icon">
                                                <i class="fa fa-users"></i>
                                            </div>
                                            <div ng-if="news.tag == 'video'" class="smart-timeline-icon bg-color-orangeDark">
                                                <i class="fa fa-video-camera"></i>
                                            </div>
                                            <div class="smart-timeline-time">
                                                <small>{{news.publisher_time * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</small>
                                            </div>
                                            <div class="smart-timeline-content">
                                                <p>
                                                    <a target="_blank" href="{{ news.url }}"><strong>{{ news.title }}</strong></a><br>
                                                    <span><strong>By: </strong></span><span>{{ news.author }}</span><br>
                                                    <span><strong>Publisher: </strong>{{ news.publisher }}</span><br>
                                                    <span><strong>Sentiment Analysis: </strong></span><span class="badge badge-warning">{{ news.sentiment_analysis }}</span>
                                                </p>
                                                <p>{{ news.summary }}</p>

                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- END Timeline Content -->
                            </div>

                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#comments" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Comments </a></h4>
                                </div>
                                <div id="comments" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <h1>TODO</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" target="_self" href="#notes" class="collapsed" aria-expanded="false"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i>
                                        <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Notes </a></h4>
                                </div>
                                <div id="notes" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <h1>TODO</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            </article>
            <article>
                <div class="jarviswidget jarviswidget-color-blueLight" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-credit-card"></i> </span>
                        <h2>
                            <span><strong>Orders</strong></span>
                        </h2>
                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>
                        <!-- widget div-->
                        <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding" ng-if="symbol">
                                <ul id="sparks" style="margin-right:10px">
                                    <li class="sparks-info">
                                        <h5> Equity <span class="txt-color-blue ng-binding">${{ symbol.portfolio.equity }}</span></h5>
                                    </li>
                                    <li class="sparks-info">
                                        <h5> Net<span ng-class="({{ symbol.portfolio.net }} > 0) ? 'txt-color-greenDark' : 'txt-color-red'">
                                            <i ng-class="({{ symbol.portfolio.net }} > 0) ? 'fa fa-arrow-circle-up' : 'fa fa-arrow-circle-down'"></i>
                                            &nbsp;${{ symbol.portfolio.absNet }}
                                        </span>
                                        </h5>
                                    </li>
                                </ul>
                                <table ng-table="transactionTableParams" class="table table-responsive" show-filter="true">
                                    <tr ng-repeat="row in symbol.portfolio.transactions"
                                        ng-class="{'success': row.type == 'buy', 'danger': row.type == 'sell', 'warning':row.type == 'pending', 'info':row.type =='canceled'}">
                                        <td title="'Timestamp'" filter="{ timestamp: 'text'}" sortable="'timestamp'">
                                            {{row.timestamp}}</td>
                                        <td title="'Type'" filter="{ text: 'text'}" sortable="'text'">
                                            {{row.text}}</td>
                                        <td title="'Average Price'" filter="{ average_price: 'number'}" sortable="'average_price'">
                                            {{row.average_price}}</td>
                                        <td title="'Quantity'" filter="{ quantity: 'number'}" sortable="'quantity'">
                                            {{row.quantity}}</td>
                                        <td title="'Total'" filter="{ total: 'number'}" sortable="'total'">
                                            {{row.total}}</td>
                                    </tr>
                                </table>
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->
                </div>
            </article>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
                <article>
                <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">

                    <header role="heading">
            <span class="widget-icon"> <i class="fa fa-paperclip"></i> </span>
            <h2>
                <span><strong>Links</strong></span>
            </h2>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>

                        <!-- widget div-->
                        <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <ul class="link-ul">
                                    <li ng-repeat="link in symbol.links" class="link-li blue">
                                        <a href="{{ link.url }}" target="_blank">{{ link.title }}</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                </div>
            </article>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
                <article>
                    <div class="jarviswidget jarviswidget-color-blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">

                    <header role="heading">
                        <span class="widget-icon"> <i class="fa fa-bell-o"></i> </span>
                        <h2>
                            <span><strong>Notifications</strong></span>
                        </h2>

                        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
                    </header>

                        <!-- widget div-->
                        <div role="content">

                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->

                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                <h3>Todo</h3>
                            </div>
                            <!-- end widget content -->

                        </div>
                        <!-- end widget div -->

                    </div>
                </article>
        </div>
    </div>
</div>

{% endverbatim %}