.menu-on-top #main {
    margin-left: 0!important;
     margin-top: 0!important;
}
.alarm_enabled{
    color: #31a225;
}
.repeat_alarm_day_enabled{
    background-color: #31a225;
}
.repeat_alarm_day_disabled{
    background-color: #777171;;
}
.alarm_disabled{
    color: #777171;
}
.time{
    font-size:xx-large;
}
.time-of-day{
    font-size: small;
}
.days{
    font-size: medium;
}
tr{
    cursor: pointer;
}
.alarm-table{
    table-layout: fixed;
    width:100%;
}
.alarm-table > tbody > tr > td:nth-child(1){
    width: 15%;
}
.day-table{
    table-layout: fixed;
    width:100%;
}
#alarm-widget{
    min-height: 0;
}
.alarm-clock-img{
    height:34px;
    width:30px;
}

.uib-time input{
    width: 100%;
    height: 100%;
    font-size: 70px;
}

.am-pm > button{
    height:60%;
    font-size: 25px;
    margin-left: 10px;
}
.uib-separator{
    font-size: 70px;
}

.modify-table, .modify-table > tbody > tr > td {
    border: 1px solid black;
    table-layout: fixed;
    width:100%;
    text-align: center;
    color: whitesmoke;
}

.form-actions-2{
    padding: 13px 14px 15px;
    background: rgba(249,249,249,.9);
    margin-top: 25px;
    text-align: right;
}

.hours > a, .minutes > a {
    font-size: xx-large;
}



/*.modal:nth-of-type(even) {*/
    /*z-index: 1052 !important;*/
/*}*/
/*.modal-backdrop.in:nth-of-type(even) {*/
    /*z-index: 1051 !important;*/
/*}*/
