{% verbatim %}
    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Top Growth </h2>
                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <div ng-controller="discreteBarChart" api="api" config="{refreshDataOnly: true, deepWatchData: true}">
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
            <article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Sector Diversification</h2>
                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <div ng-controller="pieBarChart" api="api" config="{refreshDataOnly: true, deepWatchData: true}" ng-init="init('Diversification')">
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>
            <article class="col-sm-12 col-md-12 col-lg-4 sortable-grid ui-sortable">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Top Growth </h2>
                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <div ng-controller="discreteBarChart" api="api" config="{refreshDataOnly: true, deepWatchData: true}">
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Top Growth </h2>
                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <div ng-controller="discreteBarChart" api="api" config="{refreshDataOnly: true, deepWatchData: true}">
                                <nvd3 options="options" data="data"></nvd3>
                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>

            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">

                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>Top Growth </h2>
                    </header>

                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">

                            test
                        </div>
                        <!-- end widget edit box -->

                        <div class="widget-body">
                            <div ng-app="app" ng-controller="DemoController">
                                <div>
                                    <strong>Gold: </strong>
                                    {{player.gold}}
                                </div>
                                <div class="list-group">
                                    <a href="#"
                                       class="list-group-item"
                                       ng-repeat="item in items"
                                       context-menu="menuOptions">
                                        <span class="badge">{{item.cost}}</span>
                                        {{item.name}}
                                    </a>
                                </div>
                                <button class="btn btn-default"
                                        context-menu="otherMenuOptions"
                                        model="'Red'">Right Click</button>

                                <br/>
                                <br/>
                                <button class="btn btn-default"
                                        context-menu="otherMenuOptions"
                                        allow-event-propagation="true"
                                        model="'Blue'">Right Click allow event propagation</button>

                                <br/>
                                <br/>
                                <button class="btn btn-default"
                                        context-menu="otherMenuOptions"
                                        context-menu-on="click"
                                        model="'Red'">Left Click</button>

                                <br/>
                                <br/>
                                <button class="btn btn-default"
                                        context-menu="customHTMLOptions"
                                        >Custom HTML</button>

                            </div>
                        </div>

                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->

            </article>


        </div>

        <!-- end row -->

    </section>
    <!-- end widget grid -->
{% endverbatim %}