{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Investment Analytics{% endblock %}
{% block content %}
    {% verbatim %}
        <div id="content">
            <div class="row" ng-controller="FinancialsCtrl">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                        <ul id="sparks" class="">
                            <li class="sparks-info">
                                <h5> Balance <span class="txt-color-blue">${{ currentFinancials.portfolio_value }}</span></h5>
                                <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                                    1300, 1877, 2500, 2577, 2000, 2100, 3000, 2700, 3631, 2471, 2700, 3631, 2471
                                </div>
                            </li>
                            <li class="sparks-info">
                                <h5> Daily Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;{{ dailyChange }}%</span></h5>
                                <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                                    110,150,300,130,400,240,220,310,220,300, 270, 210
                                </div>
                            </li>
                            <li class="sparks-info">
                                <h5> Total Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;{{ totalChange }}%</span></h5>
                                <div class="sparkline txt-color-purple hidden-mobile hidden-md hidden-sm">
                                    110,150,300,130,400,240,220,310,220,300, 270, 210
                                </div>
                            </li>
                        </ul>
                   </div>
            </div>
            <div ui-view></div>
        </div>
    {% endverbatim %}
{% endblock %}}

{% block javascript %}
    <script src="{% static 'js/utils/graphs.js' %}"></script>
{% endblock %}
{% block footerNav %}{% endblock %}