{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Investment Analytics{% endblock %}
{% block content %}
    {% verbatim %}
        <div id="content">
            <div class="row" ng-controller="FinancialsCtrl">
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></div>
                    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
                        <ul id="sparks" class="">
                            <li class="sparks-info">
                                <h5> Equity <span class="txt-color-blue">${{ currentFinancials.portfolio_value }}</span></h5>
                            </li>
                            <li class="sparks-info">
                                <h5> Today's Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;{{ dailyChange }}%</span></h5>
                            </li>
                            <li class="sparks-info">
                                <h5> Total Change <span class="txt-color-purple"><i class="fa fa-arrow-circle-up"></i>&nbsp;{{ totalChange }}%</span></h5>
                            </li>
                        </ul>
                   </div>
            </div>
            <div ui-view></div>
        </div>
    {% endverbatim %}
{% endblock %}}

{% block javascript %}
    <script src="{% static 'js/utils/graphs.js' %}"></script>
{% endblock %}
{% block footerNav %}{% endblock %}